In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mpp
import seaborn as sb
from CHE_Functions import GeneralFunctions as GF

In [32]:
train_df = pd.read_csv('DataSets/train.csv')

In [50]:
train_df.shape

(614, 13)

In [33]:
train_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [34]:
train_df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [35]:
for f in objects_features[1:]:
    print(f"{train_df[f].value_counts()} \n ---------------------- \n")

Gender
Male      489
Female    112
Name: count, dtype: int64
 ----------------------

Married
Yes    398
No     213
Name: count, dtype: int64
 ----------------------

Dependents
0     345
1     102
2     101
3+     51
Name: count, dtype: int64
 ----------------------

Education
Graduate        480
Not Graduate    134
Name: count, dtype: int64
 ----------------------

Self_Employed
No     500
Yes     82
Name: count, dtype: int64
 ----------------------

Property_Area
Semiurban    233
Urban        202
Rural        179
Name: count, dtype: int64
 ----------------------

Loan_Status
Y    422
N    192
Name: count, dtype: int64
 ----------------------

In [36]:
objects_features = GF.getObjectsFeaturesList(train_df)

In [37]:
objects_features

['Loan_ID',
 'Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [38]:
train_data = train_df.copy()

In [39]:
def ConvertGenderValues(Value):
    if Value == 'Male' or Value == 'M':
        return 1
    elif Value == 'Female' or Value == 'F':
        return 0

def ConvertBooleanValues(Value):
    if Value == 'Yes' or Value == 'Y':
        return 1
    elif Value == 'No' or Value == 'N':
        return 0

In [40]:
train_data['Gender'] = train_data['Gender'].apply(ConvertGenderValues)

In [41]:
train_data['Married'] = train_data['Married'].apply(ConvertBooleanValues)

In [42]:
train_data['Self_Employed'] = train_data['Self_Employed'].apply(ConvertBooleanValues)

In [43]:
train_data['Loan_Status'] = train_data['Loan_Status'].apply(ConvertBooleanValues)

In [44]:
train_data = GF.ObjectToFloat(train_data, features=['Property_Area'])

In [45]:
train_data['Education'] = train_data['Education'].map({'Graduate' : 1, 'Not Graduate' : 0})

In [46]:
train_data['Dependents'] = train_data['Dependents'].replace({'3+' : 3})

In [47]:
train_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1.0,0.0,0,1,0.0,5849,0.0,NaN,360.0,1.0,2,1
1,LP001003,1.0,1.0,1,1,0.0,4583,1508.0,128.0,360.0,1.0,3,0
2,LP001005,1.0,1.0,0,1,1.0,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1.0,1.0,0,0,0.0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1.0,0.0,0,1,0.0,6000,0.0,141.0,360.0,1.0,2,1

In [51]:
train_data = train_data.set_index('Loan_ID')

In [52]:
train_corr = train_data.corr()